<html>
<head>
    <title>搜索</title>
</head>
<body>
    {% if error %}
        {%for error in error %}
            <p style="color:red;">{{error}}</p>
        {% endfor %}
    {% endif %}
    <h2>按以下关键字搜索：</h2>
    <form action="/searchbooks/" method="get">
        <p><input type="text" name="q">
            <select name="choice">
                <option value="Name">作者名字</option>
                <option value="Title">图书标题</option>
                <option value="Publisher">出版社</option>
            </select>
        </p>
        <input type="submit" value="给我搜！">
</form>
    <a href="/">返回主页</a>
</body>
</html>